{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ammar">
    <meta name="keyword" content="Dashboard, Admin">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title> {% blocktrans %}Product List {% endblocktrans %}</title>
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!--    <link rel="icon" href="{% static session.Icon %}?v=2" type="image/png"  sizes="16x16" />-->
    <!--right slidebar-->
    <link href="{% static 'css/slidebars.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <script src="{%  static 'sweetalert/sweetalert.min.js' %}"></script>
    <!--dynamic table-->
    <link href="{% static 'assets/advanced-datatable/media/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/advanced-datatable/media/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/data-tables/DT_bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <style>
  .adv-table table tr td {
    max-width: 200px !important;
}
.modal-backdrop{
  opacity:0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity:.7;
}
.th_filter_table thead th {
    padding: 3px 18px 3px 10px !important;
    border: 1px solid black  !important;
}

table {
    table-layout: fixed !important;
    width: 100% !important;
}

table td,th {
    word-wrap: break-word !important;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word !important;     /* Renamed property in CSS3 draft spec */
}
</style>
</head>
<body>
<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        {% include 'header_menu_admin.html' %}
    </header>
    <!--header end-->
    <!--sidebar start-->
    {% include 'side_menu_admin.html' %}
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            {% if msg %}
            <div id="container-flip" >
                <div>{{msg|safe}}</div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <section class="card">
                        <header class="card-header">
                            {% blocktrans %} Product List{% endblocktrans %}
                        </header>
                        <div class="card-body">
                            {% if messages %}
                            <div class="col-12">
                                {% for message in messages %}
                                <div class="alert alert-dismissible fade show {{ message.tags }}" id="alert" role="alert">
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                    <strong> {{ message }} <i class="fa {{ message.tags }} bold fa-lg ml-2"></i></strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form action="{% url 'product_list'%}"  id="form-action"  method="post" >

                                <div class="form-row">
                                    <b class="ml-1 mb-2 ">Filter by store: </b>
                                </div>
                                <div class="form-row ml-0">
                                    {% csrf_token %}
                                    <select data-val="true" data-val-number="The field StoreId must be a number." id="storeIds" name="storeId" onChange="window.location.href = &#39;/admin_site/product_list?storeId=&#39; + this.value;"  class="js-example-basic-single" >
                                        <option disabled selected  value="">Select a Store</option>
                                        {% for r in data %}
                                        <option {% if r.0 == storeId %} selected {% endif %} value="{{r.0}}">{{r.1}} - {{r.2}}</option>
                                        {%endfor%}

                                    </select>

                                </div>
                                <div class="mt-2">
                                    <input onclick="SubmitForm();" {% if Deleted == '1' %} checked=checked {% endif %}  data-val="true" data-val-required="The Deleted field is required." id="Deleted" name="Deleted" type="checkbox" value="1" />
                                    <span class="checkboxtext ">
                                            Deleted: </span>

                                </div>
                                <br />
                                <br />
                                <b>Date updated:</b> <a href="/admin_site/product_list?storeId={{storeId}}&DateUpdated=today">Today</a> or <a href="/admin_site/product_list?storeId={{storeId}}&DateUpdated=yesterday">Yesterday</a> or <a href="/admin_site/product_list?storeId={{storeId}}">None</a> or <input id="DateUpdated" name="DateUpdated" placeholder="yyyy-mm-dd" style="width: 100px;" type="text" value="{{DateUpdated}}" />
                                <input type="submit" class="btn btn-warning btn-sm" value="Show" />
                            </form>
                            {% if not Data %}

                            <div>Showing 1 out of 1</div>
                            {% endif %}
                            <div class="table-responsive  p-2">
                                <div class="adv-table">
                                    {% if not product_data %}
                                    <div id="container-flip" >
                                        <div>{% blocktrans %}No Records Yet{% endblocktrans %}</div>
                                    </div>
                                    {% else %}
                                    <table class=" display table table-bordered table-striped dynamic-table" >
                                        <thead >
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Url
                                            </th>
                                            <th>
                                                Image Url
                                            </th>
                                            <th>
                                                Filter
                                            </th>
                                            <th>
                                                Brand
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Sale Price
                                            </th>
                                            <th>
                                                Date Created
                                            </th>
                                            <th>
                                                Date Updated
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody id="tablebody">
                                        {% for r in product_data %}
                                        <tr>
                                            <td>{{r.0}} </td>
                                            <td><a href="{{r.1}}" target="_blank">{{r.1}} </a></td>
                                            <td>
                                                <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="ShowImages({{r.7}})" >Show URLs </a>

                                            </td>
                                            <td>
                                                <a type="button" class="btn btn-primary btn-sm"  data-toggle="modal" onclick="ShowFilters('{{r.1}}')" >Show Filters </a>
                                            </td>
                                            <td>{{r.2}} </td>
                                            <td>{{r.3}} </td>
                                            <td>{{r.4}} </td>
                                            <td>{{r.5}} </td>
                                            <td>{{r.6}} </td>

                                        </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                    <!-- The Modal -->
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {%endif%}
            <!-- page end-->
        </section>
    </section>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Image URLs</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class=" display table table-bordered table-striped " >
                        <thead >
                        <tr>
                            <th>
                                Image Urls
                            </th>
                        </tr>
                        </thead>
                        <tbody id="modal_td">

                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="myModalFilter">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Filters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class=" display table table-bordered table-striped  th_filter_table" style="display:none;" >
                        <thead >
                        <tr> <th>Product Url </th> <th class="th_filter"><a id="product_url" href=""> </a></th> </tr>
                        <tr><th>Dress Style </th> <th class="th_filter" id="dress_style"></th> </tr>
                        <tr><th>Dress Length </th> <th class="th_filter" id="length"></th></tr>
                        <tr><th>Occasion </th><th id="occasion"> </th></tr>
                        <tr><th>Slevees Type </th><th id="sleeves_type"></th></tr>
                        <tr><th>Slevees Length </th><th id="slevees_length"> </th></tr>
                        <tr><th>Neckline </th><th id="Neckline"> </th></tr>
                        <tr><th>Material </th><th id="material"> </th></tr>
                        <tr><th>Pattern </th><th id="Pattern"> </th></tr>
                        <tr><th>Embellishment </th><th id="Embellishment"> </th></tr>
                        <tr><th>Characters </th><th id="Characters"> </th></tr>
                        <tr><th>Feature </th><th id="Feature"> </th></tr>
                        <tr><th>FitType </th><th id="FitType"> </th></tr>
                        <tr><th>Closures </th><th id="Closures"> </th></tr>
                        <tr><th>Garments Care </th><th id="Garments_Care"> </th></tr>
                        <tr><th>Season </th> <th id="Season"> </th></tr>
                        <tr><th>Themes </th><th id="Themes"> </th></tr>
                        <tr><th>Fastening Type </th><th id="FasteningType"> </th></tr>
                        <tr><th>Cuff Style </th><th id="CuffStyle"> </th></tr>
                        <tr><th>Collar </th><th id="Collar"> </th></tr>
                        <tr><th>Show Only </th><th id="show_only"></th></tr>
                        <tr><th>Date Created  </th><th id="Date_Created"> </th></tr>
                        <tr><th>Date Updated  </th><th id="Date_Updated"> </th></tr>
                        </tr>
                        </thead>
                        <tbody id="modal_filter_td">

                        </tbody>
                    </table>
                    <div id="th_filter_not_found" class="text-center">
                        <b>
                            No filter found.
                        </b>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--main content end-->
    <!-- Right Slidebar start -->
    <!-- Right Slidebar end -->
    {% include 'Footer.html' %}
    <!--footer end-->
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<!--custom switch-->
<script src="{% static 'js/bootstrap-switch.js' %}"></script>
<!--custom tagsinput-->
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
<!--custom checkbox & radio-->
<script src="{% static 'js/advanced-form-components.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}" ></script>
<!--right slidebar-->
<script src="{% static 'js/slidebars.min.js' %}"></script>
<!--common script for all pages-->
<script src="{% static 'js/common-scripts.js' %}"></script>
<!--script for this page-->
<script src="{% static 'js/form-component.js' %}"></script>
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<script src="{%  static 'js/select2.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'assets/advanced-datatable/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/data-tables/DT_bootstrap.js' %}"></script>
<script src="{% static 'js/dynamic_table_init.js' %}"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
     $(document).ready(function() {
$(".js-example-basic-single").select2();
});
$(document).ready(function() {
  $selectElement = $('.js-example-basic-single').select2({
    placeholder: "Select a Store",
    allowClear: true
  });
});
function SubmitForm()
{
id='{{storeId}}';
$('#form-action').attr('action','/admin_site/product_list/?storeId='+id);
        $('#form-action').submit();
}
function ShowImages(imgs){
$('#myModal').modal('show');
if (imgs.length>0)
{
let td_string='';
for (let i = 0; i < imgs.length; i++) {
  td_string+='<tr>\n' +
  ' <td>\n'+
  '<a  href="'+imgs[i]+'" target="_blank">'+imgs[i]+' </a>\n' +
  ' </td>\n'+
  ' </tr>\n';
}
  $('#modal_td').html(td_string);

}
else{
td_string='<tr>\n' +
  ' <td class="text-center">\n'+
  '<b> No image found. </b>\n' +
  ' </td>\n'+
  ' </tr>\n';
  $('#modal_td').html(td_string);
}

}

function ShowFilters(url){
try {
        $.ajax({
            type: 'POST',
            url: 'GetProductFilter',
            dataType: 'json',
            async: true,
            data:
            {
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
                url: url,
            },
            success: function (json) {
            if(json.data.length >0){
                $('#myModalFilter').modal('show');
                $('.th_filter_table').show();
                $('#th_filter_not_found').hide();
                $('#product_url').attr('href',json.data[1]);
                $('#product_url').text(json.data[1]);
                $('#dress_style').text(json.data[2]);
                $('#length').text(json.data[3]);
                $('#occasion').text(json.data[4]);
                $('#sleeves_type').text(json.data[5]);
                $('#slevees_length').text(json.data[6]);
                $('#Neckline').text(json.data[7]);
                $('#material').text(json.data[8]);
                $('#Pattern').text(json.data[9]);
                $('#Embellishment').text(json.data[10]);
                $('#Characters').text(json.data[11]);
                $('#Feature').text(json.data[12]);
                $('#FitType').text(json.data[13]);
                $('#Closures').text(json.data[14]);
                $('#Garments_Care').text(json.data[15]);
                $('#Season').text(json.data[16]);
                $('#Themes').text(json.data[17]);
                $('#show_only').text(json.data[18]);
                $('#Date_Created').text(json.data[19]);
                $('#Date_Updated').text(json.data[20]);
                $('#FasteningType').text(json.data[21]);
                $('#CuffStyle').text(json.data[22]);
                $('#Collar').text(json.data[23]);


            }
            else{
                $('#myModalFilter').modal('show');
                $('.th_filter_table').hide();
                $('#th_filter_not_found').show();


            }


            }
        });

    }
    catch (e) {
        console.log(e.message);
    }


}


</script>
</body>
</html>